<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
<body>




 <h1><b>WebMess Resources</b></h1>
 <h3>We got your password reset right here! We sent you a randomly generated password, just sign in using your email and that password and change your password when you login!</h3>
 <h3>Here's your password</h3>
 <h2><b><%=@reset_password%></b></h2>







</body>
</html>