<h1>To be the main page of a user</h1>

<% if !flash[:notice].blank? %>
	<div class = "">
		<%= flash[:notice] %>
	</div>
<%end%>
</br>
<%= link_to("Logout", {:controller => "Sessions",:action => 'logout'}, :class => 'action logout') %>