<!-- app/views/welcome/show.html.erb -->
  
<p><%= @course.course_number%></p>
<br />
<%= link_to("Back to Search", {:controller => "course_search",:action => 'index'}, :class => 'action index') %>

<%= @course.resources %>